<ion-view view-title="Dashboard">
	<ion-content class="padding">
		<div class="card">
			<div ng-style="style1" class="item item-body enable-pointer-events" ng-click="hello()">
				<img class="full-image" src="http://www.republicbank.com/home/fiFiles/static/images/cc_bus_purchase.jpg">
			</div>
		</div>
		<div class="card">
			<div class="item item-body enable-pointer-events" ng-style="style2" ng-click="hello2()">
				<img class="full-image" src="https://www.bmoharris.com/img/main/personal/debit-cards/cards/large/bmoharris-debitcard.jpg">
			</div>
		</div>
	</ion-content>
</ion-view>