.axc{
    background-color: lightgrey;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.axd{
    background-color: cornflowerblue;
    position: absolute;
    left: 0px;
    top: 50px;
    z-index: 2;
}